.carousel {
    text-align: center;
    min-width: 100%;
    height: auto;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    object-fit: cover;
    img{
        height: 400px;
        width: auto;
        margin: auto;
    }
    .carousel-caption {
        background-color: rgba(27, 25, 25, 0.699);


    }
}

