.grid {
    display: grid;
    grid-template-columns: 80% 1fr;
    grid-template-rows: 112px 1fr 4em;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "encabezado encabezado"
        "contenido aside"
        "footer footer";
}

.encabezado {
    grid-area: encabezado;
}

.footer {
    grid-area: footer;
}

.contenido {
    grid-area: contenido;
}

.aside {
    grid-area: aside;
}

.nh {
    margin-left: 20px;
    margin-right: 20px;

    h1 {
        color: #c0a392;
        font-family: Roboto;
        font-weight: 300;
        font-style: inherit;
        font-size: 35px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        text-align: center;
        padding-bottom: 50px;
        padding-top: 50px;
    }

    p {
        margin-bottom: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: larger;

    }
}



.aside {
    background-color: #662135;
    padding: 10px;

    h1 {
        justify-content: center;
        color: gold;
        text-decoration: underline;
    }

    .formulario {
        display: flex;
        flex-direction: column;

        label {
            color: aliceblue;
        }

        .submit {
            position: relative;
            top: 20px;
        }
    }
}