*{
    margin: 0;
    padding: 0;

}

html, body{

    max-width: 100vw;
    
}

body{
    display: flex;
    flex-direction: column;
    background-image: radial-gradient( #c7003a ,rgb(241, 230, 230),#c7003a) ;
}